
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test-alquilando-primary: mat-palette($mat-indigo);
$test-alquilando-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-alquilando-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$test-alquilando-theme: mat-light-theme($test-alquilando-primary, $test-alquilando-accent, $test-alquilando-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($test-alquilando-theme);

#search .mat-form-field-wrapper {
    padding-bottom: 0;
}
#search .mat-form-field-underline {
    display: none;
}
body .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 15px 25px 0 25px;
}
form .mat-focused .mat-form-field-label {
    color: #fff !important;
}
form .mat-form-field-ripple {
    background-color: #fff !important;
}
form .mat-input-element {
    color: #fff !important;
}
form .mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(255, 255, 255, 0.54) !important;
}
form .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0.54) !important;
}
.mat-list-base {
    padding-top: 0 !important;
}