<div class="container-fluid h-100">
    <div class="row h-100">
        <div id="lateralHome" class="d-none d-lg-flex col-lg-6 justify-content-center justify-content-xl-end align-items-center">
            <div class="p-0 p-lg-5 text-white w-75">
                <h1 class="lead mb-4">
                    Admin Users
                </h1>
                <p class="h3">ABM de usuarios que hizo <a href="https://www.matidiaz.com.ar" target="_blank" class="text-white">Matias Diaz</a> como test, echo en Angular y utilizando las APIs de <a href="https://reqres.in/" target="_blank" class="text-white">ReqRes</a>, por favor edita, elimina o agrega usuarios sin preocupaciones, la base de datos es solo de ejemplo.</p>
                <nav class="mt-4">
                    <a href="https://github.com/matidiaz00/test-abm-users" target="_blank" class="mr-4">
                        <img src="assets/github.svg" height="40"/>
                    </a>
                    <a href="https://www.matidiaz.com.ar" target="_blank">
                        <img src="assets/matidiaz.svg" height="20"/>
                    </a>
                </nav>
            </div>
        </div>
        <div id="box" class="col-12 col-lg-6 h-100 d-flex justify-content-center align-items-center p-0 py-xl-5">
            <div class="p-0 p-xl-5 h-100">
                <div class="shadow-lg background h-100">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
