<div class="h-100 px-3 d-flex justify-content-center align-items-center flex-column">

  <div class="pb-5 text-center text-white">
    <h1 class="m-0 pb-2">Admin Users</h1>
    <p class="m-0 p-0">Please login to edit users.</p>
  </div>

  <form class="d-flex align-items-center flex-column text-center">
    <mat-form-field>
      <input matInput placeholder="User" type="text" value="admin">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" value="12345">
    </mat-form-field>
    <button mat-raised-button class="mt-4" routerLink="/">Login</button>
  </form>

</div>